/* Import all necessary weights and styles */

@font-face {
  font-family: "Atma-Bold";
  src: url("../assets/fonts/Atma/Atma-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Atma-Light";
  src: url("../assets/fonts/Atma/Atma-Light.ttf");
}
@font-face {
  font-family: "Atma-Medium";
  src: url("../assets/fonts/Atma/Atma-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Atma-Regular";
  src: url("../assets/fonts/Atma/Atma-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Atma-SemiBold";
  src: url("../assets/fonts/Atma/Atma-SemiBold.ttf");
  font-weight: 600;
}
