/* Default Light Theme */
:root {
  --font-family: "Roboto Condensed", sans-serif;

  --color-primary: #007bff;
  --color-secondary: #6c757d;

  --color-text: #212529;
  --color-bg: #ffffff;

  /* --font-family: "Roboto Condensed", Inter, system-ui, Avenir, Helvetica, Arial,
      sans-serif; */

  --spacing: 16px;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-primary: #1e90ff;
  --color-secondary: #adb5bd;

  --color-text: #f8f9fa;
  --color-bg: #121212;
}
